.product-card {
  border: 0px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.02);   
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 ratio */
  background: #f8f8f8;
  overflow: hidden;
}


.image-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: auto;
  transform: translate(-50%, -50%);
}

.wishlist-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #a7a6a6;
  background: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.product-info {
  padding: 0.8rem 1rem 1rem;
  font-family: 'Poppins', sans-serif;
}

.product-title {

  color: #727272;
  font-size: 16px;
  font-weight: 500;
  margin: 0.3rem 0;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.product-desc {
  font-size: 13px;
  color: #777;
  margin: 0.3rem 0;
  height: 35px;
  overflow: hidden;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  margin: 0.5rem 0;
}

.product-rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.review-count {
  font-size: 12px;
  color: #777;
}
